body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/Free-Watercolor-Dots-Background-Digital-Paper-FPTFY-9.jpg);
}
.banner {
    grid-area: banner;
    font-size: 16px;
    text-align: center;
    background-color: #fff785;
    padding: 10px;
}
.banner:hover{
    transform: scale(1.5)
}
.header {
    grid-area: header;
    text-align: left;
    text-underline-position: above;
    margin: 10px;
}
.asideheader {
    grid-area: asideheader;
    text-align: center;
    padding: 30px;
}
.productos{
    grid-area: productos;
    text-align: center;
}
.menu{
    grid-area: menu;
}
.menu ul{
	list-style-type: none;
	padding: 0;
	margin:0;
	background: #4fd3b8;
}
.menu li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #380405;
	padding: .6em 1em;
}
.menu li a:hover {
	background:  #fff785;
	text-decoration-line: underline;
}
.menu-simple ul{
 	display: flex;
 	flex-wrap: wrap;
 	justify-content:space-between;
 }
.menu-simple li{
 	flex:1 0 auto;
 	text-align: center;
 }
.main {
    grid-area: main;
    text-align: center;
}
.aside {
    grid-area: aside;
    text-align: center;
    padding: 25px;
}
.footer {
    grid-area: footer;
    text-align: center;
    background-color: lightgray;
}
.content{
    color: black;
    border: dotted;
    border-color: lightseagreen;
    border-radius: 12px;
    text-align: left;
    padding: 0px 10px 5px 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(225,235,237,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(225,235,237,1);
    box-shadow: 10px 10px 5px 0px rgba(225,235,237,1);
}
.grid-container{
    display: grid;
    grid-template-areas:
        'banner banner banner banner banner banner banner'
        'asideheader header header header header header header'
        'menu menu menu menu menu menu menu'
        'productos productos productos productos productos productos productos'
        'main main main main main main aside'
        'footer footer footer footer footer footer footer';
    grid-gap: 20px;
}
.contenedor{
    display: grid;
    grid-template-areas:
        'caja1 caja1 caja1'
        'caja2 caja2 caja2';
    grid-gap: 20px;
}
.caja {
    display: grid;
    padding: 10px;
    text-align: left;
    border: double;
    border-color: #1abc9c;
    border-radius: 12px;
}
.caja:hover{
    background-color:#c1f3e9;
}
.caja1{
    grid-row: 1/1
}
.caja2 {
    grid-row: 2/1
}
h2, .thumbnail {
    text-align: center;
}
.button{
    background-color: #1abc9c;
    size: 24px;
}
button:hover{
    background-color:#f9ec31;
    text-transform: uppercase;
}
table, tr, th, td {
    align-items: center;
    text-align: center;
    border: groove;
    border-color: red;
    margin: 0 auto;
}
form{
    color: grey;
    background-color: whitesmoke;
    border: dotted;
    border-color: gray;
    border-radius: 12px;
    text-align: left;
    padding: 0px 5px 10px 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(225,235,237,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(225,235,237,1);
    box-shadow: 10px 10px 5px 0px rgba(225,235,237,1);
}
@media screen and (max-width: 768px){
    .grid-container{
        grid-template-areas:
        'banner banner banner banner banner banner banner'
        'asideheader header header header header header header'
        'menu menu menu menu menu menu menu'
        'productos productos productos productos productos productos productos'
        'main main main main main main main'
        'aside aside aside aside aside aside aside'
        'footer footer footer footer footer footer footer';
    }}

@media screen and (max-width: 450px){
    .grid-container{
        grid-template-areas:
        'banner banner banner banner banner banner banner'
        'asideheader header header header header header header'
        'menu menu menu menu menu menu menu'
        'productos productos productos productos productos productos productos'
        'main main main main main main main'
        'aside aside aside aside aside aside aside'
        'footer footer footer footer footer footer footer';
    }}
